{% extends "base.html" %}
{% load i18n %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="head">
                    <form method="post" action=".">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn" type="submit">Log In</button>
                        <input type="hidden" name="next" value="{% url 'index' %}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}