{% extends "base.html" %}
{% load i18n %}


{% block title %}
    Favor Request
{% endblock %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="head">
                    {% if user.is_authenticated %}
                        <p>Your Credit is: {{ user.exchangeuser.credit }}</p>
                        <p>To add credit please enter your purchase token</p>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn" type="submit">Add Credit</button>
                        </form>

                    {% else %}
                        <p> Please Log in or Sign up to use this site!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}