{% extends "base.html" %}
{% load i18n %}


{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="head">
                    {% if user.is_authenticated %}
                        Welcome {{ user.username }}
                    {% else %}
                        Welcome to Favor Buddy <br>
                        Please sign up or log in to use this website
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}